.coffeepage-about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
    width: 100%;
}

.about-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.coffeepage-about-img {
    width: 40%;
    height: auto;
}

.coffeepage-about-text {
    width: 50%;
    text-align: center;
}

.coffeepage-about-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.coffeepage-about-paragraph {
    font-size: 0.875rem;
}

.paragraph-padding {
    padding: 1.8rem 0 1rem 0;
}

.coffeepage-underline {
    border-bottom: 2px solid black;
    width: 15rem;
}

@media screen and (max-width: 900px) {

    .about-container {
        width: 80%;
    }

    .coffeepage-about-img {
        width: 70%;
        height: auto;
    }
    
    .coffeepage-about-text {
        width: 80%;
        text-align: center;
    }

    .coffeepage-about-paragraph {
        font-size: 0.8rem;
    }
}