.coffeepage-promo-section {
    width: 100%;
    max-width: 100%;
    min-height: 38vh;
    background: url(../../../assets/img/Coffee-bg.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .coffeepage-promo-title {
      font-size: 2.5rem;
      color: white;
  }