  .coffee-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 220px;
    height: 240px;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 5px;
    cursor: pointer;
  }

  .coffee-img {
    width: 150px;
    height: 130px;
  }

  .coffee-title {
    font-size: 0.875rem;
    font-weight: 400;
  }

  .coffee-subtitle {
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: 8rem;
  }

  .coffee-price {
    font-size: 0.875rem;
    font-weight: 700;
    margin-left: 8rem;
  }

  .coffee-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}

.coffee-card-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.coffepage-main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
}

.coffee-img-container {
  width: 30%;
}

.coffeepage-main-img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.coffecard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.coffee-item-description {
  font-size: 0.875rem;
  font-weight: 400;
  width: 50%;
}

.coffee-description-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

